@use '../../css/abstracts/variables' as var;
@use '../../css/abstracts/mixins' as mix;

.homepageContent{
    width: 90%;
    margin-left: auto;
    h4 {
        padding: 12px;
    }
}
.movies-wrapper{
    position: relative;
    .movies-cont{
        position: absolute;
        display: flex;
        justify-content: space-around;
        top: 260px;
        right: 5%;
        width: 350px;
        z-index: 10000;


        @include mix.mobile-l-styles {
            display: none;
          }
          .wrap{
            margin-right: 15px;
             
          }
    }
}